.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  padding: 10rem;
  min-height: 100vh;
}
.h1{
  padding: 50px;
  color: red;
  font-size: 50px;
}
.ul{
  font-size: 50px;
  background-color: yellowgreen;
}
